*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    width: 100%;
    border-radius: 5px;
}

.two-column-left{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 25px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.two-column-right{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 25px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.hero-image{
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(./images/F92DgTKO7KvsQBokYTSLkw.jpg);
}

.hero-text{
    color: whitesmoke;
    position: absolute;
    top: 650px;
    text-align: center;
    width: 100%;
    font-size: 4rem;
}

.info{
    font-size: 1.25em;
}

.history-heading{
    font-size: 4rem;
    background-color: grey;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

.one_column{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    width: 25%;
    margin: auto;
    margin-top: 40px;
}

a {
    display: block;      /* Makes the link take up the full width */
    text-align: center;  /* Centers the text inside that full width */
}

h1{
    text-align: center;
    justify-content: center;
    display: flex;
}
.index1{
    background-color: lightyellow;
}

.parallax-container {
  background-image: url(./images/Coat_of_Arms_of_Stavropol_\(2021\).jpeg);
  height: 50vh; /* Высота на весь экран */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-container1 {
  background-image: url(./images/index3top.jpg);
  height: 50vh; /* Высота на весь экран */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.two-column-index1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.parallax-container2 {
background-image: url(./images/Untitled.png);
height: 50vh; /* Высота на весь экран */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.button{
    display: inline-block;
    padding: 10px;
    background-color: aqua;
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
}

.button:hover{
    display: inline-block;
    padding: 10px;
    background-color: rgb(103, 103, 255);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center; /* Центрирует кнопки по горизонтали */
    gap: 20px;               /* Делает красивые отступы между кнопками */
    margin-top: 40px;        /* Отступ от картинки сверху */
    margin-bottom: 40px;     /* Отступ снизу страницы */
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(39, 174, 96); /* Темно-синий цвет панели */
  padding: 15px 20px;
  position: fixed; /* Панель остается вверху при скролле */
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgb(39, 174, 96);
  gap: 20px;
}

.logo-picture {
    background-image: url(images/logo.jpg);
}

/* Стили логотипа */
.logo {
    background-image: url(images/logo.jpg);
}

hr {
    border: none;               /* Убираем стандартную рамку */
  border-top: 30px solid rgb(39, 174, 96); /* Задаем толщину (2px), тип (solid — сплошная) и цвет (#000 — черный) */
  margin: 20px 0;   
}